<%- include('com/header') %>

<div id="">
    <section id="container" class="">
        <%- include('com/navigation') %>
        <%- include('com/sidebar') %>

        <section id="main-content">
            <section class="wrapper">

                <!--overview start-->
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa-laptop"></i>主面板</h3>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a href="/posts">主页</a></li>
                            <li><i class="fa fa-laptop"></i>主面板</li>
                        </ol>
                    </div>
                </div>

                <!--<div id="mainCanvas" style="width:600px;height:450px;" ></div>-->

        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><i class="fa fa-map-marker red"></i><strong>预览视图</strong></h2>
                        <div class="panel-actions">
                            <a data-toggle="modal" href="#myModal" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                            <a href="" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                            <a href="" class="btn-flush"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body-map">
                        <div id="canvas-frame" style="height:380px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- List starts -->
                <ul class="today-datas">
                    <!-- List #1 -->
                    <li>
                        <!-- Graph -->
                        <div><span id="todayspark1" class="spark"></span></div>
                        <!-- Text -->
                        <div class="datas-text">2000次浏览</div>
                    </li>
                    <li>
                        <div><span id="todayspark2" class="spark"></span></div>
                        <div class="datas-text">每秒帧数(实时)</div>
                    </li>
                    <li>
                        <div><span id="todayspark3" class="spark"></span></div>
                        <div class="datas-text">3.55% 服务器负载</div>
                    </li>
                    <li>
                        <div><span id="todayspark4" class="spark"></span></div>
                        <div class="datas-text">100 在线用户</div>
                    </li>
                    <li>
                        <div><span id="todayspark5" class="spark"></span></div>
                        <div class="datas-text">1.55% CPU使用率</div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Today status end -->

        <div class="row">

            <div class="col-lg-9 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><i class="fa fa-flag-o red"></i><strong>注册用户</strong></h2>
                        <div class="panel-actions">
                            <a href="index.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                            <a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                            <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table bootstrap-datatable countries">
                            <thead>
                            <tr>
                                <th>头像</th>
                                <th>用户名</th>
                                <th>角色</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% users.forEach(function (user) { %>
                            <tr>
                                <td><img src="upload/<%- user.avatar %>" style="height:18px; margin-top:-2px;"></td>
                                <td><%- user.name %></td>
                                <td><%= ({m: '管理员', f: '一般用户', x: '游客'})[user.gender] %></td>
                                <td><%- user.bio %></td>
                            </tr>
                            <% }) %>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div><!--/col-->
            <div class="col-md-3">

                <div class="social-box facebook">
                    <i class="fa fa-facebook"></i>
                    <ul>
                        <li>
                            <strong>256</strong>
                            <span>好友</span>
                        </li>
                        <li>
                            <strong>3</strong>
                            <span>反馈</span>
                        </li>
                    </ul>
                </div><!--/social-box-->
            </div>
            <div class="col-md-3">

                <div class="social-box twitter">
                    <i class="fa fa-twitter"></i>
                    <ul>
                        <li>
                            <strong>1562k</strong>
                            <span>鲜花</span>
                        </li>
                        <li>
                            <strong>2562</strong>
                            <span>鄙视</span>
                        </li>
                    </ul>
                </div><!--/social-box-->

            </div><!--/col-->

        </div>
        <!-- statics end -->
        <!-- project team & activity start -->
        <div class="row">
            <div class="col-md-4 portlets">
                <!-- Widget -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="pull-left">消息</div>
                        <div class="widget-icons pull-right">
                            <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                            <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="panel-body">
                        <!-- Widget content -->
                        <div class="padd sscroll">

                            <ul class="chats">

                                <!-- Chat by us. Use the class "by-me". -->
                                <li class="by-me">
                                    <!-- Use the class "pull-left" in avatar -->
                                    <div class="avatar pull-left">
                                        <img src="images/user.jpg" alt=""/>
                                    </div>

                                    <div class="chat-content">
                                        <!-- In meta area, first include "name" and then "time" -->
                                        <div class="chat-meta">John Smith <span class="pull-right">3 hours ago</span></div>
                                        Vivamus diam elit diam, consectetur dapibus adipiscing elit.
                                        <div class="clearfix"></div>
                                    </div>
                                </li>

                                <!-- Chat by other. Use the class "by-other". -->
                                <li class="by-other">
                                    <!-- Use the class "pull-right" in avatar -->
                                    <div class="avatar pull-right">
                                        <img src="images/user22.png" alt=""/>
                                    </div>

                                    <div class="chat-content">
                                        <!-- In the chat meta, first include "time" then "name" -->
                                        <div class="chat-meta">3 hours ago <span class="pull-right">Jenifer Smith</span></div>
                                        Vivamus diam elit diam, consectetur fconsectetur dapibus adipiscing elit.
                                        <div class="clearfix"></div>
                                    </div>
                                </li>

                                <li class="by-me">
                                    <div class="avatar pull-left">
                                        <img src="images/user.jpg" alt=""/>
                                    </div>

                                    <div class="chat-content">
                                        <div class="chat-meta">John Smith <span class="pull-right">4 hours ago</span></div>
                                        Vivamus diam elit diam, consectetur fermentum sed dapibus eget, Vivamus consectetur dapibus adipiscing elit.
                                        <div class="clearfix"></div>
                                    </div>
                                </li>

                                <li class="by-other">
                                    <!-- Use the class "pull-right" in avatar -->
                                    <div class="avatar pull-right">
                                        <img src="images/user22.png" alt=""/>
                                    </div>

                                    <div class="chat-content">
                                        <!-- In the chat meta, first include "time" then "name" -->
                                        <div class="chat-meta">3 hours ago <span class="pull-right">Jenifer Smith</span></div>
                                        Vivamus diam elit diam, consectetur fermentum sed dapibus eget, Vivamus consectetur dapibus adipiscing elit.
                                        <div class="clearfix"></div>
                                    </div>
                                </li>

                            </ul>

                        </div>
                        <!-- Widget footer -->
                        <div class="widget-foot">

                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Type your message here...">
                                </div>
                                <button type="submit" class="btn btn-info">Send</button>
                            </form>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <!--Project Activity start-->
                <section class="panel">
                    <div class="panel-body progress-panel">
                        <div class="row">
                            <div class="col-lg-8 task-progress pull-left">
                                <h1>日报</h1>
                            </div>
                            <div class="col-lg-4">
                                <span class="profile-ava pull-right">
                                    <img alt="" class="simple" src="images/avatar1_small.jpg">
                                    <%= currentuser.name %>
                                </span>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover personal-task">
                        <tbody>
                        <tr>
                            <td>Today</td>
                            <td>
                                web design
                            </td>
                            <td>
                                <span class="badge bg-important">Upload</span>
                            </td>
                            <td>
                                    <span class="profile-ava">
                                        <img alt="" class="simple" src="images/avatar1_small.jpg">
                                    </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Yesterday</td>
                            <td>
                                Project Design Task
                            </td>
                            <td>
                                <span class="badge bg-success">Task</span>
                            </td>
                            <td>
                                <div id="work-progress2"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>21-10-14</td>
                            <td>
                                Generate Invoice
                            </td>
                            <td>
                                <span class="badge bg-success">Task</span>
                            </td>
                            <td>
                                <div id="work-progress3"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>22-10-14</td>
                            <td>
                                Project Testing
                            </td>
                            <td>
                                <span class="badge bg-primary">To-Do</span>
                            </td>
                            <td>
                                      <span class="profile-ava">
                                        <img alt="" class="simple" src="images/avatar1_small.jpg">
                                      </span>
                            </td>
                        </tr>
                        <tr>
                            <td>24-10-14</td>
                            <td>
                                Project Release Date
                            </td>
                            <td>
                                <span class="badge bg-info">Milestone</span>
                            </td>
                            <td>
                                <div id="work-progress4"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>28-10-14</td>
                            <td>
                                Project Release Date
                            </td>
                            <td>
                                <span class="badge bg-primary">To-Do</span>
                            </td>
                            <td>
                                <div id="work-progress5"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Last week</td>
                            <td>
                                Project Release Date
                            </td>
                            <td>
                                <span class="badge bg-primary">To-Do</span>
                            </td>
                            <td>
                                <div id="work-progress1"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>last month</td>
                            <td>
                                发布日期
                            </td>
                            <td>
                                <span class="badge bg-success">To-Do</span>
                            </td>
                            <td>
                                      <span class="profile-ava">
                                        <img alt="" class="simple" src="images/avatar1_small.jpg">
                                      </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
                <!--Project Activity end-->
            </div>
        </div><br><br>

        <div class="row">
            <div class="col-md-6 portlets">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><strong>日历</strong></h2>
                        <div class="panel-actions">
                            <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                            <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                        </div>

                    </div><br><br><br>
                    <div class="panel-body">
                        <!-- Widget content -->

                        <!-- Below line produces calendar. I am using FullCalendar plugin. -->
                        <div id="calendar"></div>

                    </div>
                </div>

            </div>

            <div class="col-md-6 portlets">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="pull-left">快递</div>
                        <div class="widget-icons pull-right">
                            <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                            <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div class="padd">

                            <div class="form quick-post">
                                <!-- Edit profile form (not working)-->
                                <form class="form-horizontal">
                                    <!-- Title -->
                                    <div class="form-group">
                                        <label class="control-label col-lg-2" for="title">Title</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" id="title">
                                        </div>
                                    </div>
                                    <!-- Content -->
                                    <div class="form-group">
                                        <label class="control-label col-lg-2" for="content">Content</label>
                                        <div class="col-lg-10">
                                            <textarea class="form-control" id="content"></textarea>
                                        </div>
                                    </div>
                                    <!-- Cateogry -->
                                    <div class="form-group">
                                        <label class="control-label col-lg-2">Category</label>
                                        <div class="col-lg-10">
                                            <select class="form-control">
                                                <option value="">- Choose Cateogry -</option>
                                                <option value="1">General</option>
                                                <option value="2">News</option>
                                                <option value="3">Media</option>
                                                <option value="4">Funny</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Tags -->
                                    <div class="form-group">
                                        <label class="control-label col-lg-2" for="tags">Tags</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" id="tags">
                                        </div>
                                    </div>

                                    <!-- Buttons -->
                                    <div class="form-group">
                                        <!-- Buttons -->
                                        <div class="col-lg-offset-2 col-lg-9">
                                            <button type="submit" class="btn btn-primary">发布</button>
                                            <button type="submit" class="btn btn-danger">草稿</button>
                                            <button type="reset" class="btn btn-default">重设</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--
                        <div class="widget-foot"><a href="http://www.mycodes.net/" target="_blank">网页模板</a>

                        </div> -->
                    </div>
                </div>

            </div>
        </div>
                <%- include('com/copyright')%>
            </section>
        </section>
    </section>
</div>

<%- include('com/footer') %>